---
layout: default
---

{% assign minutes = content | strip_html | number_of_words | divided_by: 180 %}
{% if minutes == 0 %}
{% assign minutes = 1 %}
{% endif %}

<div class="post-header mb2">
  <p class="post-title">{{ page.title }}</p>
  <span class="post-meta">
    {{ page.date | date: site.date_format }}  | 

    {% if page.minutes %}
    {{ page.minutes }} {{ site.text.post.minute_read | default: "minute read" }}
    {% else %}
    {{ minutes }} {{ site.text.post.minute_read | default: "minute read" }}
    {% endif %}
  </span>
</div>

<article class="post-content">
  {{ content }}
</article>

{% if site.show_sharing_icons %}
  {% include share_buttons.html %}
{% endif %}

{% include related_post.html %}

{% if site.disqus_shortname %}
  {% include comments.html disqus_shortname=site.disqus_shortname id=page.id title=page.title %}
{% endif %}

