---
layout: default
---
{% comment %}
This tag_page is the page that serve as a layout for all the tag page involved in the post. Once
the user click on one of the tags, it will route to this layout, which will render one of the tag page in 
/tags folder
{% endcomment %}

<ul>
    {% for post in site.tags[page.tag] %}
    <li><a href="{{ post.url }}" class="post-summary">{{ post.title }}</a> 
        <span class="post-summary">
            ({{ post.date | date_to_string }} 
            | 
            Tags: 
            {% for tag in post.tags %}
                <a href="/tag/{{ tag | slugify }}/">{{ tag }}</a>
            {% endfor %}
            
            )
        </span>
    </li>
    {% endfor %}
</ul>

{% comment %}
<div id="tag-cloud">
    {{ site | tag_cloud }}
</div>
{% endcomment %}